// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-size: 40px;
}

i {
  font-size: 25px;
}

.answer {
  background-color: #FFFEE1;
}

.cadre {
  padding: 10px;
  margin: 20px;
}
